<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Mi Proyecto{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <nav class="nav">
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'listar_canciones' %}">canciones</a>
    
    <div class="spacer"></div>
    {% if user.is_authenticated %}
      <span>Hola, {{ user.username }}</span>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Salir</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>